.grid
  display flex
  width calc(100% + var(--col-gap) * 2)
  flex-wrap: wrap
  &_m-columns
    &_10
      --m-columns 10
    &_12  
      --m-columns 12
  &_col-gap 
    &_two-thirds
      --col-gap calc(var(--gap) * (2 / 3))
      margin: 0 calc(0px - var(--col-gap));
    &_full
      --col-gap calc(var(--gap) / 2)
      margin: 0 calc(0px - var(--col-gap));
    &_half
      --col-gap calc(var(--gap) / 2 / 2)
      margin: 0 calc(0px - var(--col-gap));
  &_row-gap
    &_full
      --row-gap 1   
    &_half
      --row-gap 0.5   
  // Elements
  &__fraction
    padding 0 var(--col-gap)
    margin var(--row-gap) 0
    &_m-col
      &_2
        width calc(2 * (100% / var(--m-columns)))
      &_3
        width calc(3 * (100% / var(--m-columns)))
      &_4
        width calc(4 * (100% / var(--m-columns)))
      &_5
        width calc(5 * (100% / var(--m-columns)))
      &_8
        width calc(8 * (100% / var(--m-columns)))
    