.grid
  display grid
  flex-wrap wrap
  grid-template-columns: repeat(var(--m-columns), 1fr)
  grid-row-gap var(--row-gap)
  grid-column-gap: calc(var(--col-gap));
  &_m-columns
    &_10
      --m-columns 10
    &_12  
      --m-columns 12
  &_col-gap 
    &_two-thirds
      --col-gap calc(var(--gap) * (2 / 3))
    &_full
      --col-gap calc(var(--gap))
    &_half
      --col-gap calc(var(--gap) / 2)
  &_row-gap
    &_full
      --row-gap calc(var(--gap))  
    &_half
      --row-gap calc(var(--gap) / 2)  
  &__fraction
    &_m-col
      &_2
        grid-column: span 2
      &_3
        grid-column: span 3
      &_4
        grid-column: span 4
      &_5
        grid-column: span 5
      &_8
        grid-column: span 8
@media (max-width 1024px)
  .grid
    grid-template-columns: 1fr
    &__fraction
      grid-column unset