.grid
  display grid
  width calc(100% + var(--col-gap) * 2)
  flex-wrap: wrap
  grid-template-columns: repeat(var(--m-columns), 1fr)
  grid-row-gap var(--row-gap)
  &_m-columns
    &_10
      --m-columns 10
    &_12  
      --m-columns 12
  &_col-gap 
    &_two-thirds
      --col-gap calc(var(--gap) * (2 / 3))
      margin: 0 calc(0px - var(--col-gap));
    &_full
      --col-gap calc(var(--gap) / 2)
      margin: 0 calc(0px - var(--col-gap));
    &_half
      --col-gap calc(var(--gap) / 2 / 2)
      margin: 0 calc(0px - var(--col-gap));
  &_row-gap
    &_full
      --row-gap calc(var(--gap) / 2)  
    &_half
      --row-gap calc(var(--gap) / 2 / 2)  
  // Elements
  &__fraction
    padding 0 var(--col-gap)
    &_m-col
      &_2
        grid-column: span 2
      &_3
        grid-column: span 3
      &_4
        grid-column: span 4
      &_5
        grid-column: span 5
      &_8
        grid-column: span 8
    