.cover
  min-height 472px
  display flex
  flex-direction: column
  .image
    height 180px
  &__info
    width 100%
    padding: var(--indent-xxl);  
  &__footer
    padding: var(--indent-xxl);    
    margin-top: auto
  &__preview
    margin-bottom var(--indent-l)  
  // TODO !  