.event
  min-height: 400px
  &__preview
    display grid
    justify-content center
    grid-auto-columns auto
    grid-auto-flow column
    grid-gap var(--indent-xs)
    margin-bottom var(--indent-xxl)
  &__title
    margin-bottom var(--indent-s)  
  &__footer
    padding: var(--indent-s);
    .text__word
      margin 0
