.layout
  &__container
    width: 100%
    &_align
      &_center
        margin 0 auto
    &_size
      &_s
        max-width 920px
      &_m
        max-width 1280px    
    &_space-v
      &_xxxxl
        padding var(--indent-xxxxl) 0 
      &_xxxxxl
        padding var(--indent-xxxxxl) 0 
    &_indent-b
      &_xxl
        margin-bottom var(--indent-xxl)    
      &_xxxl
        margin-bottom var(--indent-xxxl)    
