.header
  padding var(--indent-xxxl) var(--gap)
  &__content
    width 100%
    max-width 1280px 
    margin 0 auto
  &__logo
    width 179px
    height 34px
    background-color var(--text-color-primary)