.footer
  padding var(--indent-xxxl) var(--gap)
  &__content
    width 100%
    max-width 1280px
    display flex
    justify-content space-between 
    margin 0 auto
    padding 8px 0
    .text__word
      margin: 0