.form
  --border-width 3px
  &_border
    border-color var(--bg-borderer)
    border-width var(--border-width)
  &_view
    &_default
      background-color var(--bg-primary)  
  &__item
    display flex
    border-bottom var(--border-width)
    &:last-child
      border-bottom unset
    &_distibute
      &_between
        justify-content center
    &_vertical-align
      &_center
        align-items center
    &_indent-b
      &_xxxs
        margin-bottom var(--indent-xxxs)
      &_xxs
        margin-bottom var(--indent-xxxs)
      &_s
        margin-bottom var(--indent-s)
      &_m
        margin-bottom var(--indent-m)
      &_l
        margin-bottom var(--indent-l)
      &_xl
        margin-bottom var(--indent-xl)
      &_xxl
        margin-bottom var(--indent-xxl)
      &_xxxl
        margin-bottom var(--indent-xxxl)
      &_xxxxl
        margin-bottom var(--indent-xxxxl)
    &_space-v
      &_xxxs
        padding-top var(--indent-xxxs)
        padding-bottom var(--indent-xxxs)
      &_xxs
        padding-top var(--indent-xxs)
        padding-bottom var(--indent-xxs)
      &_s
        padding-top var(--indent-s)
        padding-bottom var(--indent-s)
      &_m
        padding-top var(--indent-m)
        padding-bottom var(--indent-m)
      &_l
        padding-top var(--indent-l)
        padding-bottom var(--indent-l)
      &_xl
        padding-top var(--indent-xl)
        padding-bottom var(--indent-xl)
      &_xxl
        padding-top var(--indent-xxl)
        padding-bottom var(--indent-xxl)
      &_xxxl
        padding-top var(--indent-xxxl)
        padding-bottom var(--indent-xxxl)
      &_xxxxl
        padding-top var(--indent-xxxxl)
        padding-bottom var(--indent-xxxxl)
    &_space-h
      &_xxxs
        padding-left var(--indent-xxxs)
        padding-right var(--indent-xxxs)
      &_xxs
        padding-left var(--indent-xxs)
        padding-right var(--indent-xxs)
      &_s
        padding-left var(--indent-s)
        padding-right var(--indent-s)
      &_m
        padding-left var(--indent-m)
        padding-right var(--indent-m)
      &_l
        padding-left var(--indent-l)
        padding-right var(--indent-l)
      &_xl
        padding-left var(--indent-xl)
        padding-right var(--indent-xl)
      &_xxl
        padding-left var(--indent-xxl)
        padding-right var(--indent-xxl)
      &_xxxl
        padding-left var(--indent-xxxl)
        padding-right var(--indent-xxxl)
      &_xxxxl
        padding-left var(--indent-xxxxl)
        padding-right var(--indent-xxxxl)
  &__label
    &_width
      &_default
        width 35%
  &__control
    display flex
    flex-grow 1     

