.history
  &__details
    display flex
    align-items center
  &__destination
    display flex
    align-items center  
  &__actions
    margin-bottom: 0   
  &__description
    display block
  &__transaction
    display flex
    flex-direction: column
    padding var(--indent-m)
    &_open
      .history__hide
        display block
    &:not(:last-child)
      border-bottom 3px solid var(--bg-borderer)  
  &__time
    margin-top: 6px
  &__label     
    .text__word
      margin 0       
  &__quantity
    .text__word
      margin 0    

  &__show
    margin 0
    width 100%
    display flex
    justify-content space-between
  &__hide
    display none