.history
  &__details
    display flex
    align-items center
  &__destination
    display flex
    align-items center  
    // .text__word
    //   &:last-child
    //     margin 0
  &__transaction
    padding var(--indent-m)
   
    &:not(:last-child)
      border-bottom 3px solid var(--bg-borderer)
  &__label
    // .text__word
    //   &:last-child
    //     margin 0    
  &__quantity
    margin 0    

  &__show
    margin 0
    width 100%
    display flex
    justify-content space-between
  &__hide
    display none