.onoffswitch
  width 97px
  height 32px
  border 2px solid var(--bg-borderer)
  padding: 2px
  &__button
    width 24px
    height 24px
    background-color var(--bg-borderer)
  &_checked
    .onoffswitch__button
      margin-left: auto