.button
  --button-width-default 200px
  --button-width-full 100%
  background-color var(--bg-accent)
  &_size
    &_s
      width var(--button-width-default)
      height 24px
    &_m
      width var(--button-width-default)
      height 32px
    &_l
      width var(--button-width-default)
      height 42px
    &_xl
      width var(--button-width-default)
      height 56px
    &_xxl
      width var(--button-width-default)
      height 64px
  &_width
    &_full
      width var(--button-width-full)
      