.image
  width 100%
  height 80px
  border 3px solid var(--bg-borderer)
  position relative
  &::before
    position absolute
    content: var(--image-stub)
    width 80px
    height 64px
    top 50%
    left 50%
    transform translate(-50%, -50%)