.product
  min-height 300px
  border-width 3px
  &__footer
    margin-top var(--indent-m)
    .text
      margin 6px 0
      &:last-child
        margin-bottom 0
        margin-top var(--indent-xs)
  &__image
    background-color var(--bg-primary)
  .image 
    height 160px