.product__image.theme_color_project-inverse 
  --bg-borderer #000
.product__image.theme_color_project-default
  --bg-borderer #fff
.product
  min-height 300px
  border-width 3px
  &__title
    margin-bottom var(--indent-xxxl)
  &__footer
    margin-top 19px
    .text
      &:last-child
        .text__word
          margin-bottom 0
  &__image
    background-color var(--bg-primary)
  .image 
    height 160px