.product__image.theme_color_project-inverse 
  --bg-borderer #000
.theme_color_project-inverse
  --bg-borderer #fff
.product
  min-height 300px
  border-width 3px
  &__footer
    margin-top var(--indent-m)
    .text
      // margin 6px 0
      
      &:last-child
        .text__word
          margin-bottom 0
  &__image
    background-color var(--bg-primary)
  .image 
    height 160px