.section
  &_indent
    &-b
      &_xxl
        margin-bottom var(--indent-xxl) 
      &_xxxxl
        margin-bottom var(--indent-xxxxl) 
  &_space-v  
    &_xxl
      padding var(--indent-xxl) 0
    
    &_xxxxl
      padding var(--indent-xxxxl) 0
    