.card
  &_border_all
    border-style solid
    border-color var(--bg-borderer)
  &_view
    &_default
      background-color var(--bg-primary)  
  &__content
    display flex
    flex-direction: column
    &_distibute
      &_center
        align-items center
    &_vertical-align
      &_center
        justify-content center
    &_space-a
      &_m
        padding var(--indent-m)      
      &_xl
        padding var(--indent-xl)
      &_l
        padding var(--indent-l)
      &_xxxl
        padding var(--indent-xxxl)        
  &__footer
    display flex
    flex-direction: column
    &_distibute
      &_between
        align-items space-between
      &_center
        align-items center
      &_right
        align-items flex-end  
    &_vertical-align
      &_center
        justify-content center
      &_top
        justify-content: flex-start
      &_bottom 
        justify-content: flex-end    
    &_space-a
      &_m
        padding var(--indent-m)      
      &_xl
        padding var(--indent-xl)
      &_l
        padding var(--indent-l)
      &_xxl
        padding var(--indent-xxxl)        
