.warning
  min-height 335px
  &__content
    display flex
    flex-direction column
    .text
      margin-top 1px 
      margin-bottom 4px
  &__button-wrapper
    margin-top auto 
  .placeholder
    margin var(--indent-m)  