.warning
  min-height 335px
  &__content
    display flex
    flex-direction column
    .text
      margin-bottom var(--indent-xxs) 
  &__button-wrapper
    margin-top auto 
  .placeholder
    margin var(--indent-m)  