.warning
  min-height 335px
  &__content
    display flex
    flex-direction column
    .text
      margin-top 6px
      margin-bottom 0
      &__word
        margin-bottom: var(--indent-m)
        margin-top: var(--indent-xxxs)
  &__button-wrapper
    margin-top auto 
  .placeholder
    margin var(--indent-m)  