.icon-plus
  display flex
  &_vertical-align
    align-items center
  &__icon
    &_indent
      &-r
        &_s
          margin-right var(--indent-s)
        &_m
          margin-right var(--indent-m)
      &-l
        &_l
          margin-left var(--indent-l)    